/* removendo setas nos inputs de number */
input[type=number] {
    -moz-appearance: textfield;
}

/* Chamando fonte vindo do GoogleFonts */
.exo-2 {
    font-family: "Exo 2", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 60px;
}

@media (max-width:580px) {
    .exo-2{
        font-size: 40px;
    }
}